/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.cont-nav{
    width: 70px;
    height: 30px;
    background-color: red;
    display: flex;
}

.element-1{
    width: 70%;
    height: 100%;
    border: 1px solid aqua;
}

.element-2{
    width: 30%;
    height: 100%;
    border: 1px solid aqua;
}